* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-pic {
    width: 500px;
    height: 590px;
    background-color: aquamarine;
    margin-left: 100px;
}
#head1 {
    width: 500px;
    height: 100px;
    background-color: bisque;
 }
#head-txt {
    font-size: x-large;
    float: right;
    margin-right: 200px;
    margin-top: 25px;
}
#head2 {
    width: 500px;
    height: 30px;
    }
#nav-txt {
    float: right;
}
.menu-content {
    width: 500px;
    height: 360px;
    margin-top: 0;
    display: flex;
}
#menu {
    width: 150px;
    height: 360px;
    background-color: blanchedalmond;
    }
#content {
    width: 350px;
    height: 360px;
    background-color: cadetblue;
    justify-content: flex-end;
  }

#menu-txt {
    float: left;
    font-size: x-large;
   
}
#content-txt {
   font-size: x-large;
   }
#footer-txt {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    font-size: x-large;
}

@media screen and (max-width: 800px) {
    .menu-content {
        width: 500px;
        height: 360px;
        margin-top: 0;
        position: relative;
       
    }
    #menu {
        width: 500px;
        height: 100px;
        background-color: blanchedalmond;
        }
    #content {
        width: 500px;
        height: 260px;
        background-color: cadetblue;
        position: absolute;
        top: 100px;
           
}